@import "../../index.scss";

.option {
  @include truncate;

  font: var(--font-xs);
  padding: var(--size-s) var(--size-md);
  border: solid 1px transparent;
  border-radius: var(--size-xxs);

  &:hover {
    background-color: rgba(#c7e7f2, 0.5);
  }

  &:focus-visible {
    border: solid var(--size-xxs) var(--color-accent);
    border-radius: var(--size-xxs);
    outline: none;
  }
}