.wrapper {
  min-height: 100dvh;
  min-height: 100vh;
  background-color: #dadada;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 100px 50px;
}

.searchGroup {
  display: flex;
  column-gap: var(--size-xxl);
  row-gap: var(--size-xl);
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: var(--size-xl);
}