table {
  width: 100%;
  border-collapse: collapse;
  margin: var(--size-xl);
}

.tableHeader {
  font: var(--font-s);
  padding: var(--size-s);
  cursor: pointer;
}

th,
td {
  white-space: nowrap;
  padding: 0.5rem;
}

th {
  background: rgba(#2f2e6f, 0.1);
}

tbody tr:nth-child(2n) {
  background: rgba(#2f2e6f, 0.05);
}

.buttonGroup {
  display: flex;
  column-gap: var(--size-md);
  width: 100%;
  align-items: center;
  margin-bottom: var(--size-md);
}

.text {
  display: block;
  line-clamp: 1;
}

.inputToPage {
  width: 50px;
  align-self: flex-start;
}

.rowCount {
  align-self: start;
}
